$color-primary: #031B26;
$color-accent : #064663;
$color-white: #eee;
$color-gray: #ccc;

@import 'typography';
@import 'utils';

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body,html {
    min-height: 100%;
}


.hover {
    cursor: pointer;
}

